<%= link_to space_path(space),  class: "card space-card box-shadow" do %>
  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="image" src="https://source.unsplash.com/featured/<%= rand(9999) %>/?gallery" data-holder-rendered="true">
  <div class="card-body d-flex flex-column pt-2 pb-8 px-2">
    <h3><%= space.name %></h3>
    <p class="card-text"><%= space.address %>, <%= space.city %> </p>
    <p class="card-text-price">$<%= space.price_per_day %> per day</p>
    <div class="d-flex justify-content-between">
      <div class="btn-group mt-auto ">
      <%#= link_to  "view", space_path(space), class: "btn btn-primary " %>
      </div>
    </div>
  </div>
<% end %>
