<div class="row">
  <% @spaces.each do |space| %>
    <div class="col-md-3">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="image" style="height: 225px; width: 100%; display: block;" src="https://source.unsplash.com/featured/<%= rand(9999) %>/?studio" data-holder-rendered="true">
        <div class="card-body">
          <h3><%= space.name %></h3>
          <p class="card-text"><%= space.address %>, <%= space.city %> </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h1>Spaces</h1>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

