<div class="container">
  <br></br>
  <br></br>
  <br></br>
  <div class="row row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2>List a new Space</h2>
          <%= simple_form_for(@space) do |f| %>
            <%= f.input :name %>
            <%= f.input :address %>
            <%= f.input :city %>
            <%= f.input :photo, as: :file%>
            <%= f.submit "List a space", class: "btn btn-primary" %>
          <% end %>
    </div>
  </div>
</div>
