<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dvlgiurta/image/upload/v1582656247/Studioo-logo_fhn3hy.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if !user_signed_in? %>
      <li class="nav-item">
          <%= link_to "sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
          <%= link_to "post", new_space_path, class: "nav-link" %>
        </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "browse", spaces_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item" id="notifMenu">
          <%= link_to "notifications", "#", class: "nav-link", id: "counterTracker"%>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://res.cloudinary.com/doytwihfl/image/upload/v1582922730/T02NE0241-USA30KXB3-g67656ac417f-512_widzih.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if current_user.renter? %>
              <%= link_to "my studioos", own_spaces_spaces_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "my reservations", own_reservations_reservations_path, class: "dropdown-item" %>
            <%= link_to "log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "log in", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
