<div class="container">
  <div class="row justify-content-center listing">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h2>List a new Space</h2><br>
      <br></br>
      <br></br>
          <%= simple_form_for(@space) do |f| %>
            <%= f.input :name, required: true, autofocus: true %>
            <%= f.input :content, required: true %>
            <%= f.input :address, required: true %>
            <%= f.input :city, required: true %>
            <%= f.input :price_per_day, required: true %>
            <%= f.input :photo, as: :file%><br>
            <%= f.submit "List a space", class: "btn btn-outline-dark btn-lg btn-block" %>
          <% end %>
    </div>
  </div>
</div>
