<div class="container">
  <div class="row py-4">
    <div class="col">

      <h1>Checkout summary</h1>
      <p>Total price $ <%= @reservation.total_price %></p>
      <p>Reserving for <%= pluralize(@reservation.number_of_days, "day") %></p>
      <p>From <%= @reservation.start_on.strftime("%A, %b %d %Y") %></p>
      <p>To <%= @reservation.end_on.strftime("%A, %b %d %Y") %></p>

      <button id="pay" class="btn btn-primary">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @reservation.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
